.header {
    background: $dark-blue;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    color: #FFF;
    text-decoration: none;
    transition: .3s ease-in-out;
    h1 {
        margin: 0;
    }
    &:hover {
        color: #E6E6E6;
    }
}