.page-header {
    background: $off-white;
    padding: $l-size 0;
    margin-bottom: $l-size;
}

.page-header__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 600;
    }
}

.page-header__info {
    font-size: $font-size-small;
    color: #666;
    margin: 0;
}

.page-header__action {
    margin-top: $l-size;
}